*{
    padding: 0;
    margin: 0;
}

.image {
    height: 125px;
    padding-left: 103px;
}

.ptexto {
    float: right;
    padding-right: 180px;
    padding-top: 13px;
    text-align: right;
}

body header h1{
    width: 200px;
    margin-left: 191px;
}

body header ul li a{
    color: black;
}

.navbar{
    background-color: rgb(42, 235, 206);
}

.justify-content-end {
    padding-right: 162px;
}

#pq{
    margin-top: 25px;
    color: aquamarine;
    margin-left: 100px;
}

#ri {
    padding-left: 102px;
    margin: none;
    padding-top: 15px;
    font-size: 18px;
    float: left;
    text-align: left;
}

#image{
    height: 125px;
    margin-left: 98px;
}

.ibagem {
    width: 100%;
    height: 181px;
    background: url("https://wallpaperaccess.com/full/346683.jpg");
    margin-top: 86px;
}

#Cpf {
    padding-top: 45px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

#menu{
    background-color: aquamarine;
}
body main h1{
    background-image: url(https://cdn.pixabay.com/photo/2015/11/19/08/48/banner-1050617_960_720.jpg);
    color: white;
    width: 100%;
    height: 350px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 110px;
    font-size: 100px;
}
body main article h5{
    color: aquamarine;
    font-size: 30px;
    padding-left: 100px;
    margin-top: 55px;
}

body main article p {
    padding-left: 102px;
    margin: none;
    padding-top: 15px;
    font-size: 18px;
    float: left;
    text-align: left;
}

body main article div img {
    width: 140px;
    margin-left: 98px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.carrosel-texto {
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
}

.carousel-control-next, .carousel-control-prev {
    width: 19%;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 52px;
    height: 43px;
}

.carousel-control-prev-icon {
    background-image: url(seta.png);
}

.carousel-control-next-icon {
    background-image: url(seta_2.png);
}

#carouselExampleIndicators {
    background-color: aquamarine;
}

/* carrosel */
.carrosel-texto{
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
}

#carouselExampleIndicators{
    background-color: aquamarine;
}

.carousel-control-prev-icon {
    background-image: url(seta.png);
}

.carousel-control-next-icon {
    background-image: url(seta_2.png);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 52px;
    height: 43px;
}

.carousel-control-next, .carousel-control-prev {
    width: 19%;
}

#cadastro{
    height: 58px;
    background-color: aquamarine;
}

#nossa {
    color: aquamarine;
    margin-top: 50px;
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 480px;
    max-width: 720px;
}

.col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    max-width: 216px;
    flex-grow: 1;
    padding-right: 0px;
    padding-left: 0px;
}

.form-inline {
    float: left;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 9px;
}

/* Victor Hugo*/

dl, ol, ul {
    padding-inline: 364px;
    margin-top: -3px;
    margin-bottom: 1rem;
}

#dropdown{
    float: left;
    background-color: white;
    color: black;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
    padding-top: 10px;
}

body header h1{
    width: 200px;
    margin-left: 191px;
}

body header ul li a{
    color: black;
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.container {
    max-width: 100%;
}

.carousel {
    position: relative;
    margin-top: 55px;
}

#noss{
    margin-top: 25px;
    color: aquamarine;
    margin-left: 100px;
}

.ptexto {
    float: right;
    padding-right: 146px;
    padding-top: 15px;
    text-align: right;
    font-size: 18px;
}

#imagenzinha{
    width: 100px;
    height: 100px;
}

/* Thiago*/

.fotos{
    width: 510px;
}
#auroraesperanca{
    color: rgb(42, 235, 206);
}
#soqueropadding{
    padding-top: 45px;
}
#laura{
    background-color: rgb(212, 212, 212);
}
